.card__information {
  grid-row-start: 2;
  font-size: 1.4rem;
  padding: 0rem 0rem;
}

@media screen and (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    font-size: 1.4rem;
  }
}

.card-information > *:not(.visually-hidden:first-child) + *:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0.5rem;
}
