.product__title {
  word-break: break-word;
  margin-bottom: 1.5rem;
}

.product__description {
  margin-bottom: 1.5rem !important;
}

.product__accordion-container {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.product__info-container > * + * {
  margin: 0rem 0;
}

.price--large {
  font-size: 1.9rem !important;
}

.product__info-container .product-form,
.product__info-container .product__description,
.product__info-container .icon-with-text {
  margin: 0rem 0;
}
