
.caption-large,
.customer .field input,
.customer select,
.field__input,
.form__label,
.select__select {
  font-size: 1.4rem;
  line-height: calc(1 + 0.5 / var(--font-body-scale));
  letter-spacing: 0.04rem;
}

.form__label {
  @media screen and (min-width: 750px) {
    font-family: var(--font-body-medium-family);
    font-weight: var(--font-body-weight-bold);
  }
  text-transform: uppercase;
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
.h0,
.h1,
.h2,
.h3,
.h4,
.h5 {
  letter-spacing: 0.01em !important;
  line-height: 1.1em !important;
  font-weight: 500 !important;
}

body {
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  line-height: 22px;
  letter-spacing: normal;
}

h3,
h4,
h5,
.h3,
.h4,
.h5 {
  font-family: "Santral W01" !important;
  font-weight: 600 !important;
}

.product__accordion .accordion__content {
  padding: 0rem !important;
}

.button,
.button--primary,
.product-form__submit {
  font-weight: 400 !important;
}

.button--primary:hover {
  text-decoration: underline;
}

.rte ul, .rte ol {
  list-style-position: inside;
  padding-left: 1rem;
}

h2,
.h2 {
  font-size: calc(var(--font-heading-scale) * 3.5rem) !important;
}

@media only screen and (min-width: 750px) {
  h2,
  .h2 {
    font-size: calc(var(--font-heading-scale) * 3rem);
  }
}


.totals__total-value,
.cart-item__totals,
.caption-with-letter-spacing {
  font-weight: 600 !important;
}

.facets__summary:hover .facets__summary-label {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
  font-weight: 600 !important;
}
