.caption-with-letter-spacing {
  padding-bottom: 5px !important;
}

.title-wrapper-with-link {
  margin-bottom: 48px;
}

.cart-item__name {
  font-family: var(--font-body-family);
  letter-spacing: calc(var(--font-heading-scale)* 0.06rem);
  color: rgb(var(--color-foreground));
  line-height: calc(1 + 0.3 / max(1, var(--font-heading-scale)));
}

.totals__total {
  font-size: 1.9rem;
}
