.product__title {
  word-break: break-word;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1080px) {
  .price--large,
  .product__description,
  .product__title {
    text-align: center;
  }
}

.product__description {
  margin-top: 1.5rem !important;
  margin-bottom: 2rem !important;
}

.product__info-container > * + * {
  margin: 0rem 0;
}

.price--large {
  font-size: 1.8rem !important;
  font-weight: 300 !important;
}

.product__info-container .product-form,
.product__info-container .product__description,
.product__info-container .icon-with-text {
  margin: 0rem 0;
}
