.ring-design-summary .ring-design_inner{
    display: flex;
    gap: 40px;
}
.ring-design-summary .ring-design_images{
    display: flex;
    column-gap: 10px;
}
.ring-design-summary .ring-design_images .ring-design-featured_image,
.ring-design-summary .ring-design_images .ring-design_video{
    width: 50%;
}
.ring-design-summary .ring-design_images{
    width: 60%;
}
.ring-design-summary .ring-design_information{
    width: 40%;
}
.ring-design-summary .ring-design_information .product_content{
    margin-top: 20px;
}
.ring-design-summary .ring-design_information .product_content li + li{
    margin-top: 10px;
}
.ring-design-summary .ring-design_information .product_content li:first-child{
display: flex;
align-items: center;
justify-content: space-between;
column-gap: 10px;
}
.ring-design-summary .ring-design_information  .modify_link{
    text-decoration: underline;
text-underline-offset: 2px;
}