.custom_cllection_main .collection_header{
      display: flex;
      align-items: center;
        border-top: 1px solid rgba(var(--color-foreground), .1);
        border-bottom: 1px solid rgba(var(--color-foreground), .1);
  }
  .custom_cllection_main .collection_header .header_col,
  .custom_cllection_main .product_list .product_info{
        padding: 8px 5px;
      width: 14.28%;
      text-align: center;
        border-right: 1px solid rgba(var(--color-foreground),.1);
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
  }
  .custom_cllection_main .collection_header .header_col:last-child{
      opacity: 0;
      visibility: hidden;
  }
  .custom_cllection_main .collection_header .header_col:last-child,
  .custom_cllection_main .product_list .product_info:last-child{
    border-right: 0;
  }
  .custom_cllection_main .facets-vertical-sort{
        margin-bottom: 25px;
  }
  .custom_cllection_main .product_list{
      display: flex;
  }
  .custom_cllection_main .product_list_main{
        border-bottom: 1px solid rgba(var(--color-foreground), .1);
  }
  .custom_cllection_main .product_list .price {
      font-size: 14px;
  }
  .custom_cllection_main .product_list_content  .list_price{
      display: flex;
      gap: 5px;
  }
  .custom_cllection_main .product_list_content .list_product_wrap{
      display: flex;
      align-items: center;
      gap: 10px;
      max-width: 700px;
      margin: 0 auto;
      padding: 20px 0;
  }
  .custom_cllection_main .product_list_content .left_content,
  .custom_cllection_main .product_list_content .right_content{ 
      width: 50%;
  }
  .custom_cllection_main .product_list_content .list_add_btn{
        margin-top: 20px;
  }
  .custom_cllection_main .product_list_content .left_content_inner{
        max-width: 200px;
      margin: 0 auto;
  }
  .custom_cllection_main .product_list_content{
    display: none;
  }
  .custom_cllection_main .product_list .product_list_view{
    cursor: pointer;
  }
  
  @media (min-width: 990px) {
      .custom_cllection_main .facets-vertical .facets__form-vertical {
          width: 100%;
      }
       .custom_cllection_main .facets-vertical .facets-wrapper {
              width: 26%;
      }
      .custom_cllection_main .facets-vertical .product-grid-container{
            width: 74%;
      }
  }
  
  @media (min-width: 750px) and (max-width: 989px){
         .custom_cllection_main .facets-vertical .facets-wrapper {
             padding-right: 0;
      }
    .custom_cllection_main .facets-vertical{
          display: block;
    }
      .custom_cllection_main .facets-vertical .facets-container{
      padding-bottom: 1rem;
    }
  }
  
  @media (max-width: 749px){
    .custom_cllection_main .facets-vertical .facets-container{
      padding-bottom: 1rem;
    }
    .custom_cllection_main .collection_header .header_col, .custom_cllection_main .product_list .product_info{
      padding: 8px 5px;
      width: 16.66%;
      font-size: 12px;
      word-break: break-all;
    }
    .custom_cllection_main .product_list_content .left_content_inner,
    .custom_cllection_main .product_list_content .left_content_inner .price{
      font-size: 14px;
    }
    .custom_cllection_main .product_list_content .list_add_btn {
      margin-top: 15px;
  }
  }